In [25]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as mpl
import numpy as np
import scipy.stats as st
import calendar
from sklearn.mixture import GaussianMixture
import datetime

new_cases_df = pd.read_csv("Assignment 2_datasets\Assignment 2_datasets/1.COVID-19_daily_number_of_new_cases_and_deaths.csv", sep=",")
vaccination_df = pd.read_csv("Assignment 2_datasets/Assignment 2_datasets/2.COVID-19_vaccination.csv", sep=",")
icu_df = pd.read_csv("Assignment 2_datasets\Assignment 2_datasets/3.COVID-19_hospital_and_ICU_admission_rates.csv", sep=",")

# Cleaning process new_cases_df
- get rid of unessesary data
- drop duplicates
- missing values
    - Checked for NaN rows in each column individually
    - cases and deaths are the only columns with missing values in new_case_df
- check that colunms are consistent/formating
- outliers
    Due to some contries compenstaing for reporting to high with negative values another day we can't detect outliers.

In [4]:
new_cases_df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2020,continentExp
0,23/10/2022,23,10,2022,3557.0,0.0,Austria,AT,AUT,8901064,Europe
1,22/10/2022,22,10,2022,5494.0,4.0,Austria,AT,AUT,8901064,Europe
2,21/10/2022,21,10,2022,7776.0,4.0,Austria,AT,AUT,8901064,Europe
3,20/10/2022,20,10,2022,8221.0,6.0,Austria,AT,AUT,8901064,Europe
4,19/10/2022,19,10,2022,10007.0,8.0,Austria,AT,AUT,8901064,Europe
...,...,...,...,...,...,...,...,...,...,...,...
28724,08/02/2020,8,2,2020,0.0,0.0,Sweden,SE,SWE,10327589,Europe
28725,07/02/2020,7,2,2020,0.0,0.0,Sweden,SE,SWE,10327589,Europe
28726,06/02/2020,6,2,2020,0.0,0.0,Sweden,SE,SWE,10327589,Europe
28727,05/02/2020,5,2,2020,0.0,0.0,Sweden,SE,SWE,10327589,Europe
28728,04/02/2020,4,2,2020,1.0,0.0,Sweden,SE,SWE,10327589,Europe

In [26]:
new_cases_df = new_cases_df[new_cases_df["countriesAndTerritories"] != "Liechtenstein"]

new_cases_df.drop_duplicates()

def repair_by_month(column):
    grouped_df = new_cases_df.groupby(['countriesAndTerritories','year','month']) #group by month, year and country
    for name,group in grouped_df: #for each group
        country = name[0] #get month
        year = name[1] #get year
        month = name[2] #get country

        try:
            moast_frequent = group[column].value_counts().idxmax() #get the most frequent value
        except ValueError:
            print(country,month,year) #print the country, month and year of the error
            moast_frequent = 0 #set the most frequent value to 0
        new_cases_df.loc[(new_cases_df['countriesAndTerritories'] == country) & (new_cases_df['month'] == month) & (new_cases_df['year'] == year), column] = new_cases_df.loc[(new_cases_df['countriesAndTerritories'] == country) & (new_cases_df['month'] == month) & (new_cases_df['year'] == year), column].fillna(moast_frequent)

repair_by_month("deaths") #repair the deaths column
repair_by_month("cases") #repair the cases column

Iceland 2 2020
Norway 2 2020

In [27]:
def repair_dates_formatting():
    for index,row in new_cases_df.iterrows():
        new_cases_df.loc[index, "dateRep"] = datetime.datetime(new_cases_df.loc[index, "year"], new_cases_df.loc[index, "month"], new_cases_df.loc[index, "day"]).date()
repair_dates_formatting()
new_cases_df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2020,continentExp
0,2022-10-23,23,10,2022,3557.0,0.0,Austria,AT,AUT,8901064,Europe
1,2022-10-22,22,10,2022,5494.0,4.0,Austria,AT,AUT,8901064,Europe
2,2022-10-21,21,10,2022,7776.0,4.0,Austria,AT,AUT,8901064,Europe
3,2022-10-20,20,10,2022,8221.0,6.0,Austria,AT,AUT,8901064,Europe
4,2022-10-19,19,10,2022,10007.0,8.0,Austria,AT,AUT,8901064,Europe
...,...,...,...,...,...,...,...,...,...,...,...
28724,2020-02-08,8,2,2020,0.0,0.0,Sweden,SE,SWE,10327589,Europe
28725,2020-02-07,7,2,2020,0.0,0.0,Sweden,SE,SWE,10327589,Europe
28726,2020-02-06,6,2,2020,0.0,0.0,Sweden,SE,SWE,10327589,Europe
28727,2020-02-05,5,2,2020,0.0,0.0,Sweden,SE,SWE,10327589,Europe
28728,2020-02-04,4,2,2020,1.0,0.0,Sweden,SE,SWE,10327589,Europe

#### Formating columns with floats to int

In [28]:
new_cases_df['cases'] = new_cases_df['cases'].astype(int)
new_cases_df['deaths'] = new_cases_df['deaths'].astype(int)

# Now you can use the modified 'cases' and 'deaths' columns in the original DataFrame
new_cases_df[['cases', 'deaths']] = new_cases_df[['cases', 'deaths']]

# Verify the updated DataFrame
new_cases_df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2020,continentExp
0,2022-10-23,23,10,2022,3557,0,Austria,AT,AUT,8901064,Europe
1,2022-10-22,22,10,2022,5494,4,Austria,AT,AUT,8901064,Europe
2,2022-10-21,21,10,2022,7776,4,Austria,AT,AUT,8901064,Europe
3,2022-10-20,20,10,2022,8221,6,Austria,AT,AUT,8901064,Europe
4,2022-10-19,19,10,2022,10007,8,Austria,AT,AUT,8901064,Europe
...,...,...,...,...,...,...,...,...,...,...,...
28724,2020-02-08,8,2,2020,0,0,Sweden,SE,SWE,10327589,Europe
28725,2020-02-07,7,2,2020,0,0,Sweden,SE,SWE,10327589,Europe
28726,2020-02-06,6,2,2020,0,0,Sweden,SE,SWE,10327589,Europe
28727,2020-02-05,5,2,2020,0,0,Sweden,SE,SWE,10327589,Europe
28728,2020-02-04,4,2,2020,1,0,Sweden,SE,SWE,10327589,Europe

### From the block below we can see that there are no outliars in the popData2020 column because there's only one unique value for each country.

In [29]:
import scipy.stats as st

# Gets all unique values for the population by country
population_per_country = new_cases_df.groupby("countriesAndTerritories")["popData2020"].unique()

population_per_country

countriesAndTerritories
Austria         [8901064]
Belgium        [11522440]
Bulgaria        [6951482]
Croatia         [4058165]
Cyprus           [888005]
Czechia        [10693939]
Denmark         [5822763]
Estonia         [1328976]
Finland         [5525292]
France         [67320216]
Germany        [83166711]
Greece         [10718565]
Hungary         [9769526]
Iceland          [364134]
Ireland         [4964440]
Italy          [59641488]
Latvia          [1907675]
Lithuania       [2794090]
Luxembourg       [626108]
Malta            [514564]
Netherlands    [17407585]
Norway          [5367580]
Poland         [37958138]
Portugal       [10295909]
Romania        [19328838]
Slovakia        [5457873]
Slovenia        [2095861]
Spain          [47332614]
Sweden         [10327589]
Name: popData2020, dtype: object

In [30]:

grouped_df = new_cases_df.groupby(['countriesAndTerritories','year', 'month'])

is_normal = True

for info, groupby in grouped_df:
    country = info[0] #get country
    year = info[1] #get year
    month = info[2] #get month

    groupby = groupby.loc[(groupby['countriesAndTerritories'] == country) & (groupby['month'] == month) & (groupby['year'] == year)]

    # print(country, month, year)
    if len(groupby['deaths']) > 3:
            if groupby['deaths'].nunique() > 1:  # Check for non-zero range
                stat, p_value = st.shapiro(groupby['deaths'])
                if p_value < 0.05:
                    is_normal = False
                    print(f"Data for {country} is not normal")
            else:
                is_normal = False
                print(f"Data for {country} has zero range")
    else:
        print("Not enough data")

print(f"There is normal distribution: {is_normal}")

Data for Austria has zero range
Data for Austria is not normal
Data for Austria is not normal
Data for Austria is not normal
Data for Austria is not normal
Data for Austria is not normal
Data for Austria is not normal
Data for Austria is not normal
Data for Austria is not normal
Data for Austria is not normal
Data for Austria is not normal
Data for Austria is not normal
Data for Austria is not normal
Data for Austria is not normal
Data for Austria is not normal
Data for Austria is not normal
Data for Austria is not normal
Data for Austria is not normal
Data for Belgium is not normal
Data for Belgium is not normal
Data for Belgium is not normal
Data for Belgium is not normal
Data for Belgium is not normal
Data for Belgium is not normal
Data for Belgium is not normal
Data for Belgium is not normal
Data for Belgium is not normal
Data for Belgium is not normal
Data for Belgium is not normal
Data for Belgium is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Bulgaria is not normal
Data for Croatia has zero range
Data for Croatia is not normal
Data for Croatia is not normal
Data for Croatia is not normal
Data for Croatia is not normal
Data for Croatia is not normal
Data for Croatia is not normal
Data for Croatia is not normal
Data for Croatia is not normal
Data for Croatia is not normal
Data for Croatia is not normal
Data for Croatia is not normal
Data for Croatia is not normal
Data for Cyprus is not normal
Data for Cyprus is not normal
Data for Cyprus is not normal
Data for Cyprus is not normal
Data for Cyprus has zero range
Data for Cyprus is not normal
Data for Cyprus is not normal
Data for Cyprus is not normal
Data for Cyprus is not normal
Data for Cyprus is not normal
Data for Cyprus is not normal
Data for Cyprus is not normal
Data for Cyprus is not normal
Data for Cyprus is not normal
Data for Cyprus is not normal
Data for Cyprus is not normal
Data for Cyprus is not normal
Data for Cyprus is not normal
Data for Cyprus is not normal
Data for Cyprus is not normal
Data for Cyprus is not normal
Data for Cyprus is not normal
Data for Cyprus is not normal
Not enough data
Data for Czechia has zero range
Data for Czechia has zero range
Data for Czechia is not normal
Data for Czechia is not normal
Data for Czechia is not normal
Data for Czechia is not normal
Data for Czechia is not normal
Data for Czechia is not normal
Data for Czechia is not normal
Data for Czechia is not normal
Data for Czechia is not normal
Data for Czechia is not normal
Data for Czechia is not normal
Data for Czechia is not normal
Data for Czechia is not normal
Data for Czechia is not normal
Data for Czechia is not normal
Data for Czechia is not normal
Data for Czechia is not normal
Data for Czechia is not normal
Data for Czechia is not normal
Data for Czechia is not normal
Not enough data
Data for Denmark is not normal
Data for Denmark is not normal
Data for Denmark is not normal
Data for Denmark is not normal
Data for Denmark is not normal
Data for Denmark is not normal
Data for Denmark is not normal
Data for Denmark is not normal
Data for Denmark is not normal
Data for Denmark is not normal
Data for Denmark is not normal
Data for Denmark is not normal
Data for Denmark is not normal
Data for Denmark is not normal
Data for Denmark is not normal
Data for Denmark is not normal
Data for Denmark is not normal
Data for Denmark is not normal
Data for Denmark is not normal
Data for Estonia has zero range
Data for Estonia is not normal
Data for Estonia is not normal
Data for Estonia is not normal
Data for Estonia is not normal
Data for Estonia has zero range
Data for Estonia is not normal
Data for Estonia is not normal
Data for Estonia is not normal
Data for Estonia is not normal
Data for Estonia is not normal
Data for Estonia is not normal
Data for Estonia is not normal
Data for Estonia is not normal
Data for Estonia is not normal
Data for Estonia is not normal
Data for Estonia is not normal
Data for Estonia is not normal
Data for Estonia is not normal
Data for Estonia is not normal
Data for Estonia is not normal
Data for Estonia is not normal
Data for Estonia is not normal
Data for Estonia is not normal
Data for Estonia is not normal
Data for Finland has zero range
Data for Finland has zero range
Data for Finland is not normal
Data for Finland is not normal
Data for Finland is not normal
Data for Finland is not normal
Data for Finland is not normal
Data for Finland is not normal
Data for Finland is not normal
Data for Finland is not normal
Data for Finland is not normal
Data for Finland is not normal
Data for Finland is not normal
Data for Finland is not normal
Data for Finland is not normal
Data for Finland is not normal
Data for Finland is not normal
Data for Finland is not normal
Data for Finland is not normal
Data for Finland is not normal
Data for Finland is not normal
Data for Finland is not normal
Data for Finland is not normal
Data for France has zero range
Data for France has zero range
Data for France is not normal
Data for France is not normal
Data for France is not normal
Data for France is not normal
Data for France is not normal
Data for France is not normal
Data for France is not normal
Data for France is not normal
Data for France is not normal
Data for France is not normal
Data for France is not normal
Data for France is not normal
Data for France is not normal
Data for France is not normal
Data for Germany has zero range
Data for Germany is not normal
Data for Germany is not normal
Data for Germany is not normal
Data for Germany is not normal
Data for Germany is not normal
Data for Germany is not normal
Data for Germany is not normal
Data for Germany is not normal
Data for Germany is not normal
Data for Germany is not normal
Data for Germany is not normal
Data for Germany is not normal
Data for Germany is not normal
Data for Germany is not normal
Data for Greece has zero range
Data for Greece has zero range
Data for Greece has zero range
Data for Greece has zero range
Data for Greece has zero range
Data for Greece has zero range
Data for Greece has zero range
Data for Greece has zero range
Data for Greece has zero range
Data for Greece has zero range
Data for Greece has zero range
Data for Greece has zero range
Data for Greece has zero range
Data for Greece has zero range
Data for Greece has zero range
Data for Greece has zero range
Data for Greece has zero range
Data for Greece has zero range
Data for Greece has zero range
Data for Greece is not normal
Data for Greece is not normal
Data for Greece is not normal
Data for Greece is not normal
Data for Greece is not normal
Data for Greece is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Data for Hungary is not normal
Not enough data
Data for Iceland is not normal
Data for Iceland is not normal
Data for Iceland has zero range
Data for Iceland has zero range
Data for Iceland has zero range
Data for Iceland has zero range
Data for Iceland has zero range
Data for Iceland is not normal
Data for Iceland is not normal
Data for Iceland is not normal
Data for Iceland has zero range
Data for Iceland has zero range
Data for Iceland has zero range
Data for Iceland has zero range
Data for Iceland has zero range
Data for Iceland is not normal
Data for Iceland has zero range
Data for Iceland is not normal
Data for Iceland has zero range
Data for Iceland has zero range
Data for Iceland is not normal
Data for Iceland is not normal
Data for Iceland is not normal
Data for Iceland is not normal
Data for Iceland is not normal
Data for Iceland is not normal
Data for Iceland is not normal
Data for Iceland is not normal
Data for Iceland has zero range
Data for Iceland is not normal
Data for Iceland has zero range
Data for Iceland has zero range
Not enough data
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Ireland is not normal
Data for Italy is not normal
Data for Italy is not normal
Data for Italy is not normal
Data for Italy is not normal
Data for Italy is not normal
Data for Italy is not normal
Data for Italy is not normal
Not enough data
Data for Latvia has zero range
Data for Latvia is not normal
Data for Latvia is not normal
Data for Latvia is not normal
Data for Latvia is not normal
Data for Latvia is not normal
Data for Latvia is not normal
Data for Latvia is not normal
Data for Latvia is not normal
Data for Latvia is not normal
Data for Latvia is not normal
Data for Latvia is not normal
Data for Latvia is not normal
Data for Latvia is not normal
Data for Latvia is not normal
Data for Latvia is not normal
Data for Latvia is not normal
Data for Latvia is not normal
Data for Latvia is not normal
Data for Latvia is not normal
Data for Latvia is not normal
Data for Latvia is not normal
Data for Latvia is not normal
Data for Lithuania has zero range
Data for Lithuania is not normal
Data for Lithuania is not normal
Data for Lithuania is not normal
Data for Lithuania is not normal
Data for Lithuania is not normal
Data for Lithuania is not normal
Data for Lithuania is not normal
Data for Lithuania is not normal
Data for Lithuania is not normal
Data for Lithuania is not normal
Data for Lithuania is not normal
Data for Lithuania is not normal
Data for Lithuania is not normal
Data for Lithuania is not normal
Data for Lithuania is not normal
Data for Luxembourg has zero range
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg has zero range
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Luxembourg is not normal
Data for Malta has zero range
Data for Malta is not normal
Data for Malta is not normal
Data for Malta has zero range
Data for Malta has zero range
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Data for Malta is not normal
Not enough data
Data for Netherlands is not normal
Data for Netherlands is not normal
Data for Netherlands is not normal
Data for Netherlands is not normal
Data for Netherlands is not normal
Data for Netherlands is not normal
Data for Netherlands is not normal
Data for Netherlands is not normal
Data for Netherlands is not normal
Data for Netherlands is not normal
Data for Netherlands is not normal
Data for Netherlands is not normal
Data for Netherlands is not normal
Data for Netherlands is not normal
Data for Netherlands is not normal
Data for Netherlands is not normal
Data for Netherlands is not normal
Data for Netherlands is not normal
Data for Norway has zero range
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Norway is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Poland is not normal
Data for Portugal has zero range
Data for Portugal is not normal
Data for Portugal is not normal
Data for Portugal is not normal
Data for Portugal is not normal
Data for Portugal is not normal
Data for Portugal is not normal
Data for Portugal is not normal
Data for Portugal is not normal
Data for Portugal is not normal
Data for Portugal is not normal
Not enough data
Data for Romania is not normal
Data for Romania is not normal
Data for Romania is not normal
Data for Romania is not normal
Data for Romania is not normal
Data for Romania is not normal
Data for Romania is not normal
Data for Romania is not normal
Data for Romania is not normal
Data for Romania is not normal
Data for Romania is not normal
Data for Romania is not normal
Data for Romania is not normal
Data for Slovakia is not normal
Data for Slovakia is not normal
Data for Slovakia is not normal
Data for Slovakia has zero range
Data for Slovakia is not normal
Data for Slovakia is not normal
Data for Slovakia is not normal
Data for Slovakia is not normal
Data for Slovakia is not normal
Data for Slovakia is not normal
Data for Slovakia is not normal
Data for Slovakia is not normal
Data for Slovakia is not normal
Data for Slovakia is not normal
Data for Slovakia is not normal
Data for Slovakia is not normal
Data for Slovakia is not normal
Data for Slovakia is not normal
Data for Slovenia is not normal
Data for Slovenia is not normal
Data for Slovenia is not normal
Data for Slovenia is not normal
Data for Slovenia is not normal
Data for Slovenia is not normal
Data for Slovenia is not normal
Data for Slovenia is not normal
Data for Slovenia is not normal
Data for Slovenia is not normal
Data for Slovenia is not normal
Data for Slovenia is not normal
Data for Slovenia is not normal
Data for Slovenia is not normal
Data for Slovenia is not normal
Data for Slovenia is not normal
Data for Slovenia is not normal
Data for Slovenia is not normal
Data for Spain has zero range
Data for Spain is not normal
Data for Spain is not normal
Data for Spain is not normal
Data for Spain is not normal
Data for Spain is not normal
Data for Spain is not normal
Data for Spain is not normal
Data for Spain is not normal
Data for Spain is not normal
Data for Spain is not normal
Data for Spain is not normal
Data for Spain is not normal
Data for Sweden has zero range
Data for Sweden is not normal
Data for Sweden is not normal
Data for Sweden is not normal
Data for Sweden is not normal
Data for Sweden is not normal
Data for Sweden is not normal
Data for Sweden is not normal
Data for Sweden is not normal
Data for Sweden is not normal
Data for Sweden is not normal
Data for Sweden is not normal
Data for Sweden is not normal
There is normal distribution: False

# Cleaning  COVID-19 vaccinations Dataset

In [36]:
vaccination_df.drop_duplicates()
vaccination_df["NumberDosesReiceved"] = vaccination_df["NumberDosesReceived"].fillna(0)
vaccination_df["NumberDosesExported"] = vaccination_df["NumberDosesExported"].fillna(0)
vaccination_df["FirstDoseRefused"] = vaccination_df["FirstDoseRefused"].fillna(0)

vaccination_df.isna().sum()

print(vaccination_df)

       YearWeekISO ReportingCountry  Denominator  NumberDosesReceived  \
0         2021-W05               AT     423433.0                  0.0
1         2023-W10               AT    1543886.0                  0.0
2         2023-W10               AT    1047888.0                  0.0
3         2023-W10               AT     258398.0                  0.0
4         2023-W10               AT    7388778.0                  0.0
...            ...              ...          ...                  ...
681325    2021-W25               SK          NaN                  0.0
681326    2021-W25               SK    4431608.0                  0.0
681327    2021-W25               SK     159879.0                  0.0
681328    2021-W25               SK     388502.0                  0.0
681329    2021-W20               SK     688658.0                  0.0

        NumberDosesExported  FirstDose  FirstDoseRefused  SecondDose  \
0                       0.0          0               0.0           0
1                       0.0          0               0.0           1
2                       0.0          1               0.0           0
3                       0.0          0               0.0           0
4                       0.0          3               0.0           1
...                     ...        ...               ...         ...
681325                  0.0          2               0.0           0
681326                  0.0       3665               0.0           0
681327                  0.0          1               0.0           0
681328                  0.0         99               0.0           0
681329                  0.0      15804               0.0       11894

        DoseAdditional1  DoseAdditional2  DoseAdditional3  DoseAdditional4  \
0                     0                0                0                0
1                     0                0                0                0
2                     0                1                0                0
3                     0                0                0                0
4                     4               80               53                0
...                 ...              ...              ...              ...
681325                0                0                0                0
681326                0                0                0                0
681327                0                0                0                0
681328                0                0                0                0
681329                0                0                0                0

        DoseAdditional5  UnknownDose Region TargetGroup  Vaccine  Population  \
0                     0            0     AT    Age10_14       AZ     8932664
1                     0            0     AT      Age<18     NVXD     8978929
2                     0            0     AT    Age60_69     NVXD     8978929
3                     0            0     AT    Age15_17  MODBA.1     8978929
4                     0            0     AT         ALL      MOD     8978929
...                 ...          ...    ...         ...      ...         ...
681325                0            0     SK      AgeUNK      MOD     5459781
681326                0            0     SK         ALL      SPU     5459781
681327                0            0     SK    Age15_17      SPU     5459781
681328                0            0     SK    Age18_24      SPU     5459781
681329                0            0     SK    Age60_69      COM     5459781

        NumberDosesReiceved
0                       0.0
1                       0.0
2                       0.0
3                       0.0
4                       0.0
...                     ...
681325                  0.0
681326                  0.0
681327                  0.0
681328                  0.0
681329                  0.0

[681330 rows x 19 columns]

In [38]:
vaccination_df.method.print()

AttributeError: 'DataFrame' object has no attribute 'method'

## Cleaning 3rd dataset
Theres no values in the url column, therefore we'll remove it completly

In [24]:
icu_df = icu_df.drop_duplicates()
# icu_df = icu_df.drop(columns=['url'], axis=1)
icu_df.isna().sum()

country      0
indicator    0
date         0
year_week    0
value        0
source       0
dtype: int64

In [12]:
icu_df.groupby(["indicator"]).count() #Daily metric is most common indicator, therefore we will convert all other indicators to daily metric

,country,date,year_week,value,source
indicator,,,,,
Daily ICU occupancy,8842,8842,8842,8842,8842
Daily hospital occupancy,10984,10984,10984,10984,10984
Weekly new ICU admissions per 100k,2358,2358,2358,2358,2358
Weekly new hospital admissions per 100k,2916,2916,2916,2916,2916

Extracts weekly data from indicator and value columns and then converts it to daily data by dividing by 7 and changing the indicator name

In [23]:
mask = icu_df["indicator"].isin(["Weekly new ICU admissions per 100k", "Weekly new hospital admissions per 100k"]) #mask for weekly indicators
icu_df.loc[mask, 'value'] = (icu_df.loc[mask, 'value'] / 7) #convert weekly indicators to daily indicators

icu_df['indicator'] = icu_df['indicator'].replace({
    "Weekly new ICU admissions per 100k": "Daily new ICU admissions per 100k",
    "Weekly new hospital admissions per 100k": "Daily new hospital admissions per 100k",
    "Daily hospital occupancy": "Daily hospital occupancy per 100k",
    "Daily ICU occupancy": "Daily ICU occupancy per 100k" 
}) #replace weekly indicators with daily indicators

icu_df.to_csv("icu_df.csv", index=True)