In [263]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as mpl
import numpy as np
import scipy.stats as st
import calendar
from sklearn.mixture import GaussianMixture

new_cases_df = pd.read_csv("Assignment 2_datasets\Assignment 2_datasets/1.COVID-19_daily_number_of_new_cases_and_deaths.csv", sep=",")
vaccination_df = pd.read_csv("Assignment 2_datasets/Assignment 2_datasets/2.COVID-19_vaccination.csv", sep=",")
icu_df = pd.read_csv("Assignment 2_datasets\Assignment 2_datasets/3.COVID-19_hospital_and_ICU_admission_rates.csv", sep=",")

# Cleaning process
- get rid of unessesary data
- drop duplicates
- missing values
    - Checked for NaN rows in each column individually
    - cases and deaths are the only columns with missing values in new_case_df
- check that colunms are consistent/formating
- outliers

In [264]:
# find_nan = new_case_df[new_cases_df.isnull()==True]
new_cases_df[new_cases_df.isna().any(axis=1)]
# print(new_cases_df.groupby('countriesAndTerritories').count())
# print(new_cases_df[new_cases_df['deaths'].isna()].groupby('countriesAndTerritories').count())
# print(new_cases_df[['countriesAndTerriztories', 'popData2020']].count())

# Store the population per country in a new variable
# print(population_per_country.keys())
# belgien = new_cases_df[new_cases_df["countriesAndTerritories"] == "Belgium"]
# belgien[belgien.isna().any(axis=1)]
# dateRep	day	month	year	cases	deaths	countriesAndTerritories	geoId	countryterritoryCode	popData2020	continentExp#

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2020,continentExp
1432,20/07/2021,20,7,2021,1954.0,NaN,Belgium,BE,BEL,11522440,Europe
1433,19/07/2021,19,7,2021,2134.0,NaN,Belgium,BE,BEL,11522440,Europe
1435,17/07/2021,17,7,2021,1104.0,NaN,Belgium,BE,BEL,11522440,Europe
1439,13/07/2021,13,7,2021,1429.0,NaN,Belgium,BE,BEL,11522440,Europe
1441,11/07/2021,11,7,2021,781.0,NaN,Belgium,BE,BEL,11522440,Europe
...,...,...,...,...,...,...,...,...,...,...,...
26915,11/04/2022,11,4,2022,NaN,38.0,Spain,ES,ESP,47332614,Europe
26916,10/04/2022,10,4,2022,NaN,47.0,Spain,ES,ESP,47332614,Europe
26917,09/04/2022,9,4,2022,NaN,42.0,Spain,ES,ESP,47332614,Europe
26919,07/04/2022,7,4,2022,NaN,53.0,Spain,ES,ESP,47332614,Europe
26920,06/04/2022,6,4,2022,NaN,42.0,Spain,ES,ESP,47332614,Europe

In [265]:
#Removing Liechtenstein because it has 18% Nan values in the deaths column
new_cases_df = new_cases_df[new_cases_df["countriesAndTerritories"] != "Liechtenstein"]
print(new_cases_df.groupby('countriesAndTerritories').count())

                         dateRep   day  month  year  cases  deaths  geoId  \
countriesAndTerritories
Austria                      971   971    971   971    971     971    971
Belgium                      968   968    968   968    968     952    968
Bulgaria                     962   962    962   962    962     954    962
Croatia                      972   972    972   972    972     972    972
Cyprus                       794   794    794   794    794     794    794
Czechia                     1003  1003   1003  1003   1003    1002   1003
Denmark                      931   931    931   931    913     931    931
Estonia                      973   973    973   973    972     951    973
Finland                     1024  1024   1024  1024   1024    1024   1024
France                      1006  1006   1006  1006   1006    1006   1006
Germany                      992   992    992   992    992     992    992
Greece                       971   971    971   971    971     971    971
Hungary                      968   968    968   968    968     968    968
Iceland                      803   803    803   803    781     757    803
Ireland                      962   962    962   962    962     962    962
Italy                        974   974    974   974    974     974    974
Latvia                       970   970    970   970    970     970    970
Lithuania                    997   997    997   997    997     997    997
Luxembourg                   973   973    973   973    973     973    973
Malta                        964   964    964   964    964     964    964
Netherlands                  967   967    967   967    967     967    967
Norway                       980   980    980   980    979     956    980
Poland                       966   966    966   966    966     966    966
Portugal                     934   934    934   934    934     934    934
Romania                      924   924    924   924    924     921    924
Slovakia                     954   954    954   954    954     954    954
Slovenia                     965   965    965   965    965     959    965
Spain                        931   931    931   931    880     931    931
Sweden                       982   982    982   982    982     982    982

                         countryterritoryCode  popData2020  continentExp
countriesAndTerritories
Austria                                   971          971           971
Belgium                                   968          968           968
Bulgaria                                  962          962           962
Croatia                                   972          972           972
Cyprus                                    794          794           794
Czechia                                  1003         1003          1003
Denmark                                   931          931           931
Estonia                                   973          973           973
Finland                                  1024         1024          1024
France                                   1006         1006          1006
Germany                                   992          992           992
Greece                                    971          971           971
Hungary                                   968          968           968
Iceland                                   803          803           803
Ireland                                   962          962           962
Italy                                     974          974           974
Latvia                                    970          970           970
Lithuania                                 997          997           997
Luxembourg                                973          973           973
Malta                                     964          964           964
Netherlands                               967          967           967
Norway                                    980          980           980
Poland                                    966          966           966
Portugal                                  934          934           934
Romania                                   924          924           924
Slovakia                                  954          954           954
Slovenia                                  965          965           965
Spain                                     931          931           931
Sweden                                    982          982           982

In [266]:
belgien = new_cases_df[new_cases_df["countriesAndTerritories"] == "Belgium"]["deaths"]
frequency = belgien.value_counts()
print(frequency)
max_value_key = frequency.idxmax()
print(max_value_key)

3.0      49
5.0      48
7.0      47
4.0      40
6.0      37
         ..
160.0     1
159.0     1
134.0     1
139.0     1
82.0      1
Name: deaths, Length: 154, dtype: int64
3.0

In [267]:
# removing nan values from deaths column by replacing them with the most frequent value
all_countries = new_cases_df["countriesAndTerritories"].unique()

print("Number of missing values before: ",new_cases_df["deaths"].isna().sum())

for country in all_countries:
    deaths = new_cases_df[new_cases_df["countriesAndTerritories"] == country]["deaths"]
    frequency = deaths.value_counts().idxmax()
    new_cases_df.loc[new_cases_df["countriesAndTerritories"] == country, "deaths"] = new_cases_df.loc[new_cases_df["countriesAndTerritories"] == country, "deaths"].fillna(frequency)

print("Number of missing values after: ",new_cases_df["deaths"].isna().sum())

Number of missing values before:  126
Number of missing values after:  0

### From the block below we can see that there are no outliars in the popData2020 column because there's only one unique value for each country.

In [271]:
import scipy.stats as st

population_per_country = new_cases_df.groupby("countriesAndTerritories")["popData2020"].first()

for country in population_per_country.keys():
    # print(country)
    # print(new_cases_df[new_cases_df["countriesAndTerritories"] == country]["popData2020"].unique())
    pass


deaths_per_country = new_cases_df.groupby("countriesAndTerritories")["deaths"].sum()
deaths_per_country_avg = new_cases_df.groupby("countriesAndTerritories")["deaths"].mean().round(0)

for country in deaths_per_country.keys():
    print(country)
    print(new_cases_df[new_cases_df["countriesAndTerritories"] == country]["deaths"])
    pass

# # Group the filtered data by month
# filtered_df["dateRep"] = pd.to_datetime(filtered_df["dateRep"])  # Convert the "dateRep" column to datetime if necessary
# filtered_df["Month"] = filtered_df["dateRep"].dt.strftime("%B %Y")
# grouped_df = filtered_df.groupby("Month")["deaths"]
# # Extract all values for each group
# grouped_values = grouped_df.apply(lambda x: x.values)

# print(grouped_values[1])
# # Perform Shapiro-Wilk test and print p-values
# for month, data in grouped_values.items():
#     print(f"data", data)
#     statistic, p_value = st.shapiro(data)
#     print(f"Shapiro-Wilk test for {month}:")
#     print(f"P-value: {p_value:.4f}")
#     print()

Austria
0      0.0
1      4.0
2      4.0
3      6.0
4      8.0
      ...
966    0.0
967    0.0
968    0.0
969    0.0
970    0.0
Name: deaths, Length: 971, dtype: float64
Belgium
971      3.0
972      9.0
973      6.0
974      6.0
975     14.0
        ...
1934     3.0
1935     3.0
1936     3.0
1937     3.0
1938     3.0
Name: deaths, Length: 968, dtype: float64
Bulgaria
1939     0.0
1940     1.0
1941     0.0
1942     0.0
1943    11.0
        ...
2896     0.0
2897     0.0
2898     1.0
2899     0.0
2900     0.0
Name: deaths, Length: 962, dtype: float64
Croatia
2901     9.0
2902     6.0
2903    10.0
2904     7.0
2905     7.0
        ...
3868     0.0
3869     0.0
3870     0.0
3871     0.0
3872     0.0
Name: deaths, Length: 972, dtype: float64
Cyprus
3873    2.0
3874    2.0
3875    5.0
3876    2.0
3877    2.0
       ...
4662    0.0
4663    0.0
4664    0.0
4665    0.0
4666    0.0
Name: deaths, Length: 794, dtype: float64
Czechia
4667     0.0
4668     1.0
4669    11.0
4670    11.0
4671    10.0
        ...
5665     0.0
5666     0.0
5667     0.0
5668     0.0
5669     0.0
Name: deaths, Length: 1003, dtype: float64
Denmark
5670    39.0
5671    13.0
5672    12.0
5673    16.0
5674    11.0
        ...
6596     0.0
6597     0.0
6598     0.0
6599     0.0
6600     0.0
Name: deaths, Length: 931, dtype: float64
Estonia
6601    10.0
6602     0.0
6603     0.0
6604     0.0
6605     0.0
        ...
7569     0.0
7570     0.0
7571     0.0
7572     0.0
7573     0.0
Name: deaths, Length: 973, dtype: float64
Finland
7574    0.0
7575    0.0
7576    0.0
7577    2.0
7578    2.0
       ...
8593    0.0
8594    0.0
8595    0.0
8596    0.0
8597    0.0
Name: deaths, Length: 1024, dtype: float64
France
8598    122.0
8599     17.0
8600     33.0
8601     81.0
8602     69.0
        ...
9599      0.0
9600      0.0
9601      0.0
9602      0.0
9603      0.0
Name: deaths, Length: 1006, dtype: float64
Germany
9604     20.0
9605      1.0
9606      1.0
9607     14.0
9608     18.0
         ...
10591     0.0
10592     0.0
10593     0.0
10594     0.0
10595     0.0
Name: deaths, Length: 992, dtype: float64
Greece
10596    148.0
10597      0.0
10598      0.0
10599      0.0
10600      0.0
         ...
11562      0.0
11563      0.0
11564      0.0
11565      0.0
11566      0.0
Name: deaths, Length: 971, dtype: float64
Hungary
11567    140.0
11568      0.0
11569      0.0
11570      0.0
11571      0.0
         ...
12530      0.0
12531      0.0
12532      0.0
12533      0.0
12534      0.0
Name: deaths, Length: 968, dtype: float64
Iceland
12535    0.0
12536    0.0
12537    0.0
12538    0.0
12539    0.0
        ...
13333    0.0
13334    0.0
13335    0.0
13336    0.0
13337    0.0
Name: deaths, Length: 803, dtype: float64
Ireland
13338    22.0
13339     0.0
13340     0.0
13341     0.0
13342     0.0
         ...
14295     0.0
14296     0.0
14297     0.0
14298     0.0
14299     0.0
Name: deaths, Length: 962, dtype: float64
Italy
14300    39.0
14301    52.0
14302    92.0
14303    91.0
14304    84.0
         ...
15269     4.0
15270     5.0
15271     2.0
15272     3.0
15273     7.0
Name: deaths, Length: 974, dtype: float64
Latvia
15274    3.0
15275    0.0
15276    0.0
15277    2.0
15278    2.0
        ...
16239    0.0
16240    0.0
16241    0.0
16242    0.0
16243    0.0
Name: deaths, Length: 970, dtype: float64
Lithuania
17192    3.0
17193    2.0
17194    2.0
17195    5.0
17196    0.0
        ...
18184    0.0
18185    0.0
18186    0.0
18187    0.0
18188    0.0
Name: deaths, Length: 997, dtype: float64
Luxembourg
18189    2.0
18190    1.0
18191    1.0
18192    0.0
18193    1.0
        ...
19157    0.0
19158    0.0
19159    0.0
19160    0.0
19161    0.0
Name: deaths, Length: 973, dtype: float64
Malta
19162    0.0
19163    0.0
19164    0.0
19165    1.0
19166    0.0
        ...
20121    0.0
20122    0.0
20123    0.0
20124    0.0
20125    0.0
Name: deaths, Length: 964, dtype: float64
Netherlands
20126     5.0
20127     7.0
20128     9.0
20129    23.0
20130     1.0
         ...
21088     0.0
21089     0.0
21090     0.0
21091     0.0
21092     0.0
Name: deaths, Length: 967, dtype: float64
Norway
21093     0.0
21094     0.0
21095     0.0
21096     0.0
21097    33.0
         ...
22068     0.0
22069     0.0
22070     0.0
22071     0.0
22072     0.0
Name: deaths, Length: 980, dtype: float64
Poland
22073    21.0
22074     0.0
22075     0.0
22076    14.0
22077    24.0
         ...
23034     0.0
23035     0.0
23036     0.0
23037     0.0
23038     0.0
Name: deaths, Length: 966, dtype: float64
Portugal
23039    43.0
23040    38.0
23041    46.0
23042    42.0
23043    41.0
         ...
23968     0.0
23969     0.0
23970     0.0
23971     0.0
23972     0.0
Name: deaths, Length: 934, dtype: float64
Romania
23973     2.0
23974     2.0
23975     0.0
23976     6.0
23977    10.0
         ...
24892     0.0
24893     0.0
24894     3.0
24895     3.0
24896     3.0
Name: deaths, Length: 924, dtype: float64
Slovakia
24897    4.0
24898    6.0
24899    5.0
24900    5.0
24901    6.0
        ...
25846    0.0
25847    0.0
25848    0.0
25849    0.0
25850    0.0
Name: deaths, Length: 954, dtype: float64
Slovenia
25851    3.0
25852    2.0
25853    2.0
25854    3.0
25855    1.0
        ...
26811    0.0
26812    0.0
26813    0.0
26814    0.0
26815    0.0
Name: deaths, Length: 965, dtype: float64
Spain
26816    75.0
26817    68.0
26818    68.0
26819    83.0
26820    95.0
         ...
27742     0.0
27743     0.0
27744     0.0
27745     0.0
27746     0.0
Name: deaths, Length: 931, dtype: float64
Sweden
27747    0.0
27748    0.0
27749    1.0
27750    2.0
27751    0.0
        ...
28724    0.0
28725    0.0
28726    0.0
28727    0.0
28728    0.0
Name: deaths, Length: 982, dtype: float64